/* Task 1: Hover Highlight Card */
.hover-highlight-card:hover {
    transform: translateY(20px) translateX(-5px);
    padding: 10px;
    transition: linear .1s;
    box-shadow: 0px 0px 0px rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    background-color: rgb(185, 185, 185);
}

.hover-highlight-card {
    padding: 20px;
    box-shadow: -8px 8px 0px rgb(156, 156, 156);
    transition: ease-in-out .3s;
    color: rgb(112, 112, 112);
    background-color: white;
   
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 10px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transform: translateY(-3px) translateX(3px);
    box-shadow: -4px 4px 1px rgb(169, 200, 240);
}

.button-press-animation button:active {
    padding: 10px 20px;
    border: none;
    background-color: #1792cf;
    color: rgb(221, 221, 221);
    cursor: pointer;
    
    box-shadow: 0px 0px 0px rgb(209, 209, 209);
    transform: translateY(0px) translateX(0px);
}

/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation-name: ;
    animation-duration: ;
    
}

@keyframes wheel {
    from {

    }
    to {

    }
    
}

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}