p {
    color: #0E131F;
    

}

#accent-text1 {
    color:#76581f;
}

#accent-text2 {
    color: #836734

}

body {
    background-color: rgb(207, 196, 255);
    background-image: url("images/backround-gradient.avif");
}