p {
    color: #8b82ad;
    

}

#accent-text1 {
    color:#bbadf1;
}

#accent-text2 {
    color: #59546C

}

body {
    background-color: #cfc4ff;
    background-image: linear-gradient(#6b2196,#fa8686,#ffe167, #feea9e);
}